#gameArea {
    aspect-ratio: 16 / 9;
    width: 70%;
    background-color: black;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#gameArea h2 {
    color: white;
}