* {
    padding: 0;
    margin: 0;
}

body {
    background-color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 2px black;
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: inset 0 0 100px #000;
}

.spacer {
    margin: 10px;
}

#start {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

.spacer * {
    margin: 5px;
    padding: 5px;
}

#content {
    display: none;
}

h1 {
    color: white;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

button {
    border: none;
    background-color: rgb(51, 51, 51);
    color: white;
    width: 200px;
    height: 75px;
    font-size: 30pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    transition: transform .2s;
}

button:hover {
    transform: scale(1.1);
}

.title {
    font-family: 'Comic Sans MS', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    animation: pulse 500ms infinite;
    animation-timing-function: ease-in-out;
    margin: 0 auto;
    width: fit-content;
}

.purchase {
    border-radius: 10px;
    background-color: rgb(50, 18, 139);
    box-shadow: 10px 10px 50px black;
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
}

.purchaseChild:nth-child(1) {
    width: 50%;
    justify-self: end;
    align-self: center;
}

.purchaseChild:nth-child(2) {
    justify-self: start;
    align-self: center;
    background-color: rgb(40, 16, 104);
    padding: 30px;
    border-radius: 20px;
    border-color: rebeccapurple;
}

.socials {
    margin: auto;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.socials img {
    width: 80px;
    transition: transform .2s;
}

.socials img:hover {
    transform: scale(1.1);
}

.racism {
    margin-top: 1em;
    padding-top: 0;
    top: -10px;
    margin-left: 60px;
    box-shadow: 0 0 100px white;
}

footer {
    box-shadow: 0 -2px 10px black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(20, 20, 20);
    text-align: center;
    font-size: 8pt;
    padding: 10px;
}

.header {
    background-color: rgb(30, 30, 30);
    width: 100%;
    top: 0;
    position: fixed;
    padding: 10px;
    z-index: 1000;
}

.header li {
    display: inline;
    margin-left: 10px;
    font-size: 14pt;
}

h3 {
    display: inline;
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.videos {
    display: inline;
    margin: auto;
    text-align: center;
}

.randomButton {
    margin-top: 100em;
    width: 30%;
    margin-left: 200px;
}
